$fontFamily: PT-Root-UI-VF, sans-serif;
$colorMajor: #374146;
$colorLable: #7B878F;
$colorBtnText: #FFFFFF;
$background: #7DCDD7;
$btnBackground: #EA5A0A;
$containerBackground: #FFFFFF; 
$fontSizeMajor: 16px;
$fontSizeTitle: 32px;